.logo{
    border-radius: 50%;
    height: 2.25rem;
    background-color: white;
    margin-right: 0.75rem;
}
.product{
    background-color: #e7e7e7;
}

.logout{
    background-color: #FFFFFF;
    font-size: 14px;
}

.all{
    background-color: #f1f5f9;

}



.testbutton {
    margin-top: 0px;
    font-family: sans-serif;
    color: #ffffff!important;
    font-size: 20px;

    padding: 10px 19px;
    border-radius: 8px;
    border: 2px solid #4f46e5;
    background: #4f46e5;}
  .testbutton:hover {
    color: #FFFFFF !important;
    background: #312e81;
  }
  